/* Responsive sheet*/
@media (max-width: 726px) {
   .container{
	   width:30%;
}
 .videoaware{
	 margin-right:10%;
	 margin-left:10%;
}
.entrance iframe{
	width:98%;
}
.highlight .ivideo{
	width:100%;
}
.highlight .written{
width:100%;
}
.kuch{
padding:5px;}
.video{
width:98%;
}
.vs,.map{
width:100%;
}
.dosaath{
	height:200vh;
}

.lockdown p{
	font-size:1.1em;
}
.kuchi{
	width:100%;

}
.padh{
	height:60vh;
}
}
@media (max-width:1200px){
#gdhi{
	width:100%
}
.kucho{
	width:80%;
	float:left;
}
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media (max-width:550px) {
	.smallscreen{
	padding:0;}
	.smallscreen{
		margin:2%;
	}
}
@media (max-width:470px) {
	header img{
display:none;}
#clockdiv{
	padding:5px;
	}
.kucho{
	width:100%;
	overflow:hidden;
}
.sec{
	display:none;
}
.pm iframe{
height:50vh;}
.donation img{
	height:50vh;
}
.videoaware iframe{
width:80%;}
.bollwood h1,.legend h1,.public h1,.police h1{
	font-size:20px;
}
.highlight h2{
	font-size:1.6em;
}
.highlight .ivideo iframe{
	height:50vh;
}
.container{
	width:70%;
}
.smallscreen{
display:none;}
.kroo p,.kuchi p,.lockdown p{
	font-size:0.8em;
}
#gdhi{
margin:5%;
padding:0;}
.kucho{
	padding:0;
}
}
@media (max-width:380px) {
	#clockdiv > div{ padding: 5px;}
	#clockdiv div > span{ 
    padding: 5px;}
	livee{
	height:60vh;}
}	

@media (max-width:729){
	.video iframe{
		margin:2%;
		padding:0;
		width:80%;
	}
}
